# Backend
PAY_KEY=your_nowpayments_api_key
IPN_SECRET=your_ipn_secret
TG_TOKEN=8796143383:AAEEz61fx2cctWb2xDGzxgHBVrIfUISfW8M
TG_ID=1401489682

# Frontend
NEXT_PUBLIC_API=https://la1-backend-production.up.railway.app
